@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    font-size: 62.5%;
}

body {
    background-color: $color-primary;
    color: $text-color-primary;
}

@media screen and (min-width: 1024px) {

    .loginContainer,
    .homeContainer,
    .homeNav,
    .newProjectContainer,
    .updateProjectContainer,
    .listProjectsContainer {
        max-width: 40%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .loginContainer,
    .homeContainer,
    .homeNav,
    .newProjectContainer,
    .updateProjectContainer,
    .listProjectsContainer {
        max-width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .loginContainer,
    .homeContainer,
    .homeNav,
    .newProjectContainer,
    .updateProjectContainer,
    .listProjectsContainer {
        max-width: 75%;
    }
}

@media screen and (max-width: 460px) {
    .loginContainer,
    .homeContainer,
    .homeNav,
    .newProjectContainer,
    .updateProjectContainer,
    .listProjectsContainer {
        max-width: 100%;
    }
}