$color-primary: #02214F;
$color-secondary: #69A5FF;
$color-tertiary: #4989EB;
$color-quaternary: #9E6F11;
$color-quinary: #EBB449;

$text-color-primary: #FFF;

$hover-menu: #FFF;

$box-shadow: #FFFFFF80;

$box-shadow-light: #FFFFFF20;

$color-trash: #CF0E0E;

$color-pen: #DFDE80;

:root {
    --color-check: #85BB65;
    --color-check-light: #84BB65C0;
}

$color-eye: #5F81E7;

$max-width_1: 90rem;

$color-light-gray: #E9E9E9;

$color-gray: #C1C1C1;