@import '../../Styles/variables.scss';

.homeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 100%;
    
    nav {
        width: 100%;
        margin: auto;
        background: transparent;
        height: 100vh;
        color: $text-color-primary;
        overflow-y: hidden;
        position: absolute;

        .user {
            flex-direction: column;
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            box-shadow: 0 0 1rem $box-shadow;
            margin-bottom: 2rem;
            padding: 2rem 0;
            gap: 2rem;
            justify-content: space-between;
            
            img {
                width: 10rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
            
            strong {
                font-size: 2rem;
                font-weight: 700;
            }
            
            span {
                font-size: 2rem;
                cursor: pointer;
            }
        }
        
        .optionsHome {
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            justify-content: center;
            gap: 1.5rem;
        }
    }
}